<div class="footer">
<small>
This is a test application for <%= link_to "RefineryLabs", "http://www.refinerylabs.com" %> first app.
Idea and execution by <%= link_to "Heidi Harman", "http://www.heidiharman.com" %> .
</small>
</div>
